[submodule "qwik-discord"]
	path = qwik-discord
	url = https://github.com/Qwik-learning-projects/qwik-discord.git
[submodule "qwik-tiktok"]
	path = qwik-tiktok
	url = https://github.com/Qwik-learning-projects/qwik-tiktok.git
[submodule "qwik-youtube"]
	path = qwik-youtube
	url = https://github.com/Qwik-learning-projects/qwik-youtube.git
[submodule "qwik-instagram"]
	path = qwik-instagram
	url = https://github.com/Qwik-learning-projects/qwik-instagram.git
[submodule "qwik-twitter"]
	path = qwik-twitter
	url = https://github.com/Qwik-learning-projects/qwik-twitter.git
[submodule "qwik-spotify"]
	path = qwik-spotify
	url = https://github.com/Qwik-learning-projects/qwik-spotify.git
